# Exclude build artifacts and local state
*

!install.sh

!devpod/entrypoint.sh
!devpod/proxy.sh

!.bashrc
!.gitconfig
!.jjconfig.toml
!.tmux.conf
!aerospace.toml
!mise.toml
!nvim/init.lua

!.claude/agents/
!.claude/CLAUDE.md
!.claude/commands/
!.claude/mcp.json
!.claude/settings.json
!code-review-jj/