[pull]
        rebase = true
[alias]
    fc = ! "git fetch --prune --tags --prune-tags"
    gone = ! "git fc && git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D 2>/dev/null || true"
[fetch]
        prune = true
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true

[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[user]
	email = sami@thecybermonk.com
	name = Sami Jawhar
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[credential]
	useHttpPath = true

[gh-app "legion-personal"]
	app-id = 3202636
	installation-id = 119465532
	key-secret = GH_AGENT_APP_PRIVATE_KEY_B64

[gh-app "legion-work"]
	app-id = 3202636
	installation-id = 119469290
	key-secret = GH_AGENT_APP_PRIVATE_KEY_B64
