[pull]
        rebase = true
[alias]
    fc = ! "git fetch --prune --tags --prune-tags"
    gone = ! "git fc && git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D 2>/dev/null || true"
[fetch]
        prune = true
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true

[credential "https://github.com"]
	helper =
	helper = !~/.dotfiles/scripts/git-credential-gh

[credential "https://gist.github.com"]
	helper =
	helper = !~/.dotfiles/scripts/git-credential-gh
[user]
	email = sjawhar@github.com
	name = sjawhar
