[Desktop Entry]
Type=Application
Name=Voxtype Tray
Exec=sh -c "$HOME/.dotfiles/voxtype/voxtype-tray"
Icon=audio-input-microphone-symbolic
Comment=Tray indicator for voxtype recording state
X-GNOME-Autostart-enabled=true
